<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/show-speech/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="onSelectTab('me')"
          >Speeches by Me</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/show-speech/others"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          tabindex="-1"
          aria-disabled="true"
          (click)="onSelectTab('other')"
          >All Speeches</a
        >
      </li>
      <li>
        <form
          *ngIf="!isMyTabOpen"
          class="form-inline my-2 my-lg-0"
          style="margin-left: 40rem"
        >
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Author or Title"
            aria-label="Search"
            (change)="onSearch($event.target.value)"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </li>
    </ul>
  </div>
  <div class="row">
    <div
      class="col-sm-6"
      *ngFor="let speech of speeches | filter: searchString; let i = index"
    >
      <app-speech [speech]="speech" [dataTarget]="i"></app-speech>
    </div>
  </div>
</div>
